{% if annual_benefit is not none -%}
{{ region_name }} generates an estimated **£{{ (annual_benefit / 1e6)|round(1) }}m** in annual transport user benefits from bus services, based on {{ n_trips|int }} daily trips at a blended value of time of £{{ vot|round(2) }}/hr.
{%- endif %}
